<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="nps_sonar" params="namespace suffix parent_link topic *origin">

    <!-- joint to Sonar link -->
    <joint name="${namespace}_nps_sonar${suffix}_joint" type="fixed">
      <parent link="${parent_link}" />
      <child link="${namespace}/nps_sonar${suffix}_link" />
      <xacro:insert_block name="origin" />
    </joint>

  <!--
      raycount: number of actual rays used in gazebo
      rangeCount: number of range values made available to user
      If rayCount is less than rangeCount, it will interpolate.
  -->  
    <link name="${namespace}/nps_sonar${suffix}_link">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1" />
        <!-- Mark only - based on cylinder -->
        <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1" />
      </inertial>
      <collision name="collision">
        <origin xyz="-0.08 0 0" rpy="0 1.5708 0"/>
        <geometry>
          <cylinder length="0.28" radius="0.07"/>
        </geometry>
      </collision>
      <visual name="visual">
        <geometry>
          <mesh filename="file://$(find nps_sonar)/test/meshes/p900.dae"/>
        </geometry>
      </visual>
    </link>

  <gazebo reference="${namespace}/nps_sonar${suffix}_link">

    <selfCollide>false</selfCollide>
 
    <sensor type="ray" name="ray_sensor">
      <always_on>true</always_on>
      <update_rate>15.0</update_rate>
      <pose>0 0 0 0 0 0</pose>
      <visualize>false</visualize>
      <ray>
        <scan>
          <horizontal>
            <samples>280</samples>
            <resolution>1</resolution>            
            <min_angle>-0.39269875</min_angle>
            <max_angle>0.39269875</max_angle>                        
            <!-- 130 degree
                 <min_angle>-1.134464014</min_angle>
                 <max_angle>1.134464014</max_angle>
            -->
          </horizontal>        
          <vertical>            
            <samples>70</samples>
            <resolution>1</resolution>            
            <min_angle>-0.174532778</min_angle>
            <max_angle>0.174532778</max_angle>                        
          </vertical>          
        </scan>

        <range>
          <min>0.1</min>
          <max>10.0</max>
          <resolution>0.01</resolution>
        </range>
      </ray>

        <plugin name="nps_gazebo_ros_sonar_plugin" filename="libnps_gazebo_ros_sonar.so">
          <robotNamespace>${namespace}</robotNamespace>
          <frameName>${namespace}/${topic}${suffix}_link</frameName>
          <topicName>${topic}${suffix}_lidar_pointcloud</topicName>
          <sonarTopicName>${topic}${suffix}_sonar</sonarTopicName>
          <gaussianNoise>0</gaussianNoise>
          <hokuyoMinIntensity>101</hokuyoMinIntensity>
          <updateRate>0</updateRate>
        </plugin>
    </sensor>
  </gazebo>
  </xacro:macro>
</robot>

